* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  
}

.todo-form {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
}


ul {
  list-style-type: none;
}


h1 {
  text-align: center;
}